@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --text-color: rgba(255, 255, 255, 1);
  --text2-color: rgba(255, 255, 255, 0.5);
  --light-text-color: #102a43;
  --light-text2-color: rgba(16, 42, 67, 0.72);
  --background-color: #102a43;
  --primary-color: #243b53;
  --secondary-color: #334e68;
  --accent-color: rgb(190, 79, 113);

  --border-color: #ffffff;

  --page-space: 32px;
  --grid-item-space: 20px;
  --item-line-space: 16px;

  --shadow: rgb(0 0 0 / 16%) 0px 4px 16px 4px;
}

h1, h2, h3, h4, h5 {
  font-family: Playfair Display, serif;
}

h1, h2, h3, h4, h5, p, a {
  color: var(--text-color);
}

#logo {
  font-size: 28px;
  font-family: Playfair Display, serif;
  font-weight: 600;
  cursor: pointer;
}

h1 { margin: 0.8rem 0; }
p { margin: 0.2rem 0; }

span {
  color: var(--text2-color);
  font-size: 16px;
}

.bg-blur {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  width: 120px;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 8px 4px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  box-shadow: var(--shadow);
  opacity: 0;
  transform: translateY(10px);
  transition: all .2s;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  transform: none;
}